.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 2%;
  height: 100%;
  width: 250px;
  position: fixed;
  background-color: whitesmoke;
  padding: 1%;
  padding-top: 20px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Added box-shadow */
  transition: transform 0.3s ease;
  transform: translateX(-250px); /* Initially hidden */
  z-index: 6;
}

.sidebar.open {
  transform: translateX(0); /* Slide in when open */
  
}

.SideNavBarField {
  /* Your styles for sidebar fields */
  border-radius: 5%;
  padding-left: 5%;
  font-size: 120%;
  display: flex;
  align-items: center;
  height: 10%;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition for smooth effect */
}

.SideNavBarField:hover {
  background-color: lightgray; /* Change background color on hover */
}

.toggle-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: -40px;
  background-color: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

.SideNavBarField {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 10px; /* Adjust the margin as needed */
}

.text {
  font-size: 16px; /* Adjust the font size as needed */
  /* Add any other text styles here */
}

